@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__nuxt {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


body {
    margin: 0;
}

main {
    flex: 1 1 auto;
}

article:hover img {
    transform: scale(1.1);
    transition: transform .1s linear;
}

article p,
article h5 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-wrap: wrap;


}

article p {
    height: 72px;
}

article h5 {
    height: 70px;
}

article img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.p-5 {
    background-color: rgb(182, 248, 83);
}

.h-8 {
    width: 800px;
    height: 70px;
}

.list {
    box-shadow: 
    1px 1px #C8C8C8,
    2px 2px #585858,
    3px 3px #C8C8C8,
    4px 4px #585858,
    5px 5px #C8C8C8,
    6px 6px #585858;
}

/* section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.book {
    background-color: #fff;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    perspective: 600px;
    position: relative;
}

.book::before {
    content: '';
    position: absolute;
    z-index: 5;
    width: 50%;
    height: 100%;
    right: 50%;
    background-color: #707070;
    border-radius: 20px 0 0 20px;
    transform-origin: center right;
    transform: rotateY(180deg);
    transition: 0.7s ease all;
}

.book:hover::before {
    transform: rotateY(0deg);
}

.book .pg {
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.book .pg.pg1 {
    background-color: #ee5f2a;
    border-radius: 20px 0 0 20px;
    left: 0;
}

.book .pg.pg2 {
    background-color: #30a5da;
    right: 0;
    border-radius: 0 20px 20px 0;
    right: 0;
} */




