@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__nuxt {
    width: 100%;
    height: 100%;
}

#__nuxt {
   display: flex;
   flex-direction: column;

}

.bg-gradient-to-r {
    min-height: 87px;
}

/* main */

.fonImage {
    max-width: 100%;
    height: 100%;
    background: url(/public/img/зебра_фон_полосы.png) no-repeat right;
    /* background-color: #FFEE00; */

}

.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}








article:hover img {
    transform: scale(1.1);
    transition: transform .1s linear;

}

article p,
article h5 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-wrap: wrap;


}

article p {
    height: 72px;
}

article h5 {
    height: 70px;
}

article img {
    height: 200px;
    width: 100%;
    object-fit: cover;

}

.container {
    display: inline-block;
    position: absolute;
    margin-top: 3%;
    margin-left: 31%;



}

.container img {
    width: 455px;
    max-width: 50%;


}



.dateText {
    text-align: center;
    font-family: sans-serif;
    padding: 0 32px 0 32px;
    line-height: 2;
    margin-bottom: 100px;
}

.dateText img {
    display: inline-block;
    padding: 10px;
    width: 40%;
    /* Ширина 40% от родительского элемента */
    height: 350px;
    /* Фиксированная высота */
    object-fit: cover;
    /* Обрезка изображения, чтобы оно заполнило контейнер */
    min-width: 250px;
    /* Минимальная ширина */
}




/* .blockquote-7 {
    display: none;
}



@media (max-width: 500px) {
    #__nuxt>main.bg-yellow-300 {
        background: url('/public/img/phoneVersey.png'), yellow;
        background-repeat: no-repeat;
        background-origin: border-box;
        background-size: cover;
        background-position: 100%;



    }

}

@media (max-width: 500px) {
    .blockquote-7 {
        text-align: right;
        justify-self: start;
        font-size: 14px;
        font-weight: 400;
        font-style: italic;
        margin: 40px 0px 40px 0px;
        padding: 16px 20px;
        position: relative;
        display: block;
        color: #FEFEFE;

    }

    .blockquote-7 .cite {
        color: rgb(243, 241, 241);
        font-size: 15px;
        font-weight: 700;
        padding-top: 10px;
        display: block;
        text-align: right;


    }
} */









/* стили для статьи */
/* .ns_desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-wrap: wrap;
}

.ns_post h1,h2,h3,h4,h5,h6,p,ul,ol {
    margin-top: 16px;
    margin-bottom: 16px;
}

.ns_post h1 {
    font-size: 3rem;
    font-weight: 800;
}

.ns_post h2 {
    font-size: 2rem;
    font-weight: 700;
}

.ns_post h3 {
    font-size: 1.875rem;
    font-weight: 700;
}

.ns_post h4 {
    font-size: 1.5rem;
    font-weight: 700;
}

.ns_post h5 {
    font-size: 1.25rem;
    font-weight: 700;
}

.ns_post h6 {
    font-size: 1.125rem;
    font-weight: 700;
}

.ns_post ul,
.ns_post ol {
    padding: revert;
    max-width: 28rem;
    gap: 0.25rem;
    list-style-type: disc;
    list-style-position: inside;
}

.ns_post blockquote {
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 600;

    padding: 1rem;

    margin-top: 1rem;

    margin-bottom: 1rem;

    border-left-width: 4px;

    border-left-color: #d1d5db;

    background-color: #f3f4f6;

}

.ns_post a {
    font-weight: 500;
    color: rgb(37 99 235);
}

.ns_post a:hover {
    text-decoration: underline;
}

.ns_post hr {
    height: 1px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #dddddd;
    border: none;
} */

/* #__nuxt  {
    color: brown;
} */